extends layout

block content
  h1=title
  each image in images
    div
      if image.video
        video.gallery(controls width=256 poster='images/galleries/' + title + '/thumbnails/' + image.filename + '.jpg')
          source(src='images/galleries/' + title + '/' + image.filename)
        br
        h2: a(href='images/galleries/' + title + '/' + image.filename) ⬆ Video File
      else
        a(href='images/galleries/' + title + '/' + image.filename)
          img.gallery(src='images/galleries/' + title + '/thumbnails/' + image.filename width=256)
    p &nbsp;
