doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    if scripts
      each script in scripts
        script(src="javascripts/" + script)
  body
    block content
