extends layout

block content
    h1 login
    form(action="/login" method="POST")
        input(name="user" type="text" placeholder="username" class="login-text-field" autocomplete="username")
        input(name="password" type="password" placeholder="password" class="login-text-field" autocomplete="current-password")
        input(type="submit" value="login" class="login-button")
