extends layout

block content
    div
        //TODO ideally,
        form(action="/login" method="POST")
            p
                input(name="user" type="text" placeholder="username" class="login-text-field" autocomplete="username")
            p
                input(name="password" type="password" placeholder="password" class="login-text-field" autocomplete="current-password")
            p
                input(type="submit" value="login" class="login-button")
