extends layout

block content
  h1 Notes
  div
    p
      form(action="/notes/post" method="POST")
        input#text-input(type="text" name="text")
        input(type="submit")
    p
      input#imageSelection(type="file" multiple)
      button#imageUploadButton Upload
  each note in notes
    p
      if (typeof note === 'string')
        button(onclick="copy(" + note.index + ")") 📋
        | &nbsp;
        span(id="note_" + note.index)=note.content
      else if (note.type === 'img')
        button(onclick="copyImage(" + note.index + ")") 📋
        | &nbsp;
        img(id="note_" + note.index src="thumbnails/" + note.index + "." + note.fileExtension)
