extends layout

block content
  h1 Notes
  div
    form(action="/notes/post" method="POST")
      input#text-input(type="text" name="text")
      input(type="submit")
  each note in notes
    p=JSON.stringify(note)
    p
      button(value="COPY" onclick="copy(" + note.index + ")")
      | &nbsp;
      span(id="note_" + note.index)=note.text