extends layout

block content
  h1 Notes
  div
    form(action="/notes/post" method="POST")
      input#text-input(type="text" name="text")
      input(type="submit")
  each note in notes
    p
      button(value="📋" onclick="copy(" + note + ")")
      span=note