extends layout

block content
  h1 Wiesn 23
  each image in images
    div
      if image.video
        video.gallery(controls width=256 poster='images/wiesn23/thumbnails/' + image.filename + '.jpg')
          source(src='images/wiesn23/' + image.filename)
        br
        h2: a(href='images/wiesn23/' + image.filename) ⬆ Save Video
      else
        a(href='images/wiesn23/' + image.filename)
          img.gallery(src='images/wiesn23/thumbnails/' + image.filename width=256)
    p &nbsp;
