extends layout

block content
  h1 Wiesn 23
  each image in images
    image
      if image.video
        video.gallery(controls width=1024)
          source(src='images/wiesn23/' + image.filename)
      else
        img.gallery(src='images/wiesn23/' + image.filename width=1024)
