extends layout

block content
  h1 Wiesn 23
  each image in images
    div
      if image.video
        video.gallery(controls poster='images/wiesn23/thumbnails/' + image.filename + '.jpg')
          source(src='images/wiesn23/' + image.filename)
        p
          a(href='images/wiesn23/' + image.filename) ⬆️ Save Video
        p
      else
        a(href='images/wiesn23/' + image.filename)
          img.gallery(src='images/wiesn23/thumbnails/' + image.filename)
