extends layout

block content
  h1 Wiesn 23
  each image in images
    image
      if image.video
        video.gallery(controls width=256)
          source(src='images/wiesn23/' + image.filename)
        p
          a(href='images/wiesn23/' + image.filename) ⬆️ Save Video
        p
      else
        a(href='images/wiesn23/' + image.filename)
          img.gallery(src='images/wiesn23/thumbnails/' + image.filename width=256)
