body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: #eeeebb;
}

a {
  color: #00B7FF;
}

image {
  display: block;
  margin: 200px;
}

.gallery {
  /*width: 1024px;*/
}

.pageWidth {
  max-width: 100%;
  left: 0;
  right: 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

.system_view {
  display: inline-block;
  margin: 10px;
}

.activity-button {
  min-width: 50px;
  margin: 5px;
  padding: 10px;
  border: solid 2px orange;
}

.activity-button.pending {
  background: lightblue;
}

.activity-button.success {
  background: lightgreen;
}

.activity-button.error {
  background: lightpink;
}
