body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: #eeeebb;
}

a {
  color: #00B7FF;
}

image {
  display: block;
  margin: 200px;
}

.gallery {
  width: 1024px
}
